.board {
    display: none;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: rgb(53, 53, 53);
    
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  }

  .winner {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  .turn {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  .tie {
    display: none;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  .reset {
    display: none;
    margin-top: 10px;
  }

  .complete {
    display: none;
  }

  .button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0.25em 0.75em;
    }
  }

  .name {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.animated {
    animation-name: animateMarker;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes animateMarker {
    0% {font-size: 0;}
    60% {font-size: 1.7rem;}
    100% {font-size: 3rem;} 
}